<!-- NON LAYOUT CONTENT -->
<div class='container' style='text-align: center'>
  <br><br>
  <h1>Add a Game</h1>
  <br><br>
  <%= form_with model: Game, local: true do |f| %>
    <div class="field form-group" style='min-width: 400px; margin-top:10px'>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Name", style: "background-color: transparent; color: white"%>
  </div>
  <br>
  <div class="field form-group" style='min-width: 400px; margin-top:10px'> 
    <%= f.number_field :price, in: 1.0..10000.0, step: 0.5, autocomplete: "price", class: "form-control", placeholder: "Price (Rs.)", style: "background-color: transparent; color: white"%>
  </div>
  <br>
   <div class="field form-group" style='min-width: 400px; margin-top:10px'>
    <%= f.text_field :category, autofocus: true, autocomplete: "category", class: "form-control", placeholder: "Category", style: "background-color: transparent; color: white"%>
  </div>
  <br>
   <div class="field form-group" style='min-width: 400px; margin-top:10px'>
    <%= f.text_area :description, size: "70x5", autofocus: true, autocomplete: "description", class: "form-control", placeholder: "Description", style: "background-color: transparent; color: white"%>
  </div>
  <br><br>
  <div style='text-align: left'>
    <h2>Upload Game</h2>
  </div>
   <div class="field form-group" style='min-width: 400px; margin-top:10px'>
    <%= f.file_field :game_file, autofocus: true, autocomplete: "game", class: "form-control", placeholder: "Game", style: "background-color: transparent; color: white"%>
  </div>
  <br><br>
  <div style='text-align: left'>
    <h2>Upload Game Demo</h2>
  </div>
   <div class="field form-group" style='min-width: 400px; margin-top:10px'>
    <%= f.file_field :demo, autofocus: true, autocomplete: "game_demo", class: "form-control", placeholder: "Game Demo", style: "background-color: transparent; color: white"%>
  </div>
  <br><br>
  <div style='text-align: left'>
    <h2>Upload Thumbnail</h2>
  </div>
   <div class="field form-group" style='min-width: 400px; margin-top:10px'>
    <%= f.file_field :thumbnail, autofocus: true, autocomplete: "game_demo", class: "form-control", placeholder: "Game Demo", style: "background-color: transparent; color: white"%>
  </div>
  <br><br>
  <div style='text-align: left'>
    <h2>Upload Game Images</h2>
  </div>
   <div class="field form-group" style='min-width: 400px; margin-top:10px'>
    <%= f.file_field :images, autofocus: true, multiple: true, autocomplete: "files", class: "form-control", accept: 'image/png,image/jpeg', placeholder: "FIles", style: "background-color: transparent; color: white"%>
  </div>

  <br><br><br>
  <div class="actions">
    <%= f.submit "Add New Game", class: "btn btn-secondary", style: "min-width: 20%; padding-top: 10px; padding-bottom: 10px;   background-image: linear-gradient(to right, #8800cc , #cc66ff); border: none; border-radius: 50px" %>
  </div>
  <% end %>
  <br><br><br>
</div>
<!-- FINISH NON LAYOUT CONTENT -->
