<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-xs-6">
          <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
        </div>
        <div class="col-xs-6">
          <%= link_to 'Continue shopping', games_path, class: 'btn btn-primary btn-sm btn-block' %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% @cart.cart_items.each do |cart_item| %>
      <div class="row">
        <div class="col-xs-2">
          <img class="img-responsive" src="">
        </div>
        <div class="col-xs-4">
          <h4 class="game-name">
            <strong><%= cart_item.game.name %></strong>
          </h4>
          <h4>
            <small><%= cart_item.game.description %></small>
          </h4>
        </div>
        <div class="col-xs-6">
          <div class="col-xs-6 text-right">
            <h6><strong><%= number_to_currency(cart_item.game.price) %> <span class="text-muted">x</span></strong></h6>
          </div>
          <div class="col-xs-4">
            <h6><strong><%= cart_item.quantity %></strong></h6>
          </div>
          <div class="col-xs-2">
            <%= link_to '<span class="glyphicon glyphicon-trash"> </span>'.html_safe, cart_item_path(cart_item), method: :delete %>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="row">
      <div class="text-center">
        <div class="col-xs-9">
          <h6 class="text-right">Added items?</h6>
        </div>
        <div class="col-xs-3">
          <%= link_to 'Update cart', cart_path(@current_cart), class:"btn btn-default btn-sm btn-block" %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row text-center">
      <div class="col-xs-9">
        <h4 class="text-right">Total <strong><%= number_to_currency(total_bill(@cart)) %></strong></h4>
      </div>
      <div class="col-xs-3">
        <%= button_to "Checkout", checkout_create_path, params: {:cart_id => @cart.id }, remote: true, class:'btn btn-success btn-block' %>
      </div>
    </div>
  </div>
</div>