<!--div class="card">
  <div class="card-header">
    <h4>Log in</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
  </div>
  <br>
  <div class="field form-group"> 
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-secondary" %>
  </div>
<% end %>
  </div>
</div>


<br>
<%= render "devise/shared/links" %>
-->


<div style="widht:100%; background-color: #070a26; color: white; background-image: url('https://media.wired.com/photos/627da1085d49787abdf713b4/master/pass/Pakistani-Gamers-Want-a-Seat-at-the-Table-Culture-shutterstock_1949862841.jpg'); background-size:cover; font-family: helvetica, verdana, arial, sans-serif;">
<div class="container d-flex align-items-center justify-content-center" style='height: 100vh;'>
  <div style='border: 1px solid white; border-radius: 20px; background-color: rgb(0,0,0,0.5); backdrop-filter: blur(5px)'>
    <div style='padding: 70px; text-align: center'>
      <h1><b style='color: white'>Welcome Back</b></h1>
      <p>Sign In now to continue your journey with us.<p>
      <div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group" style='min-width: 400px; margin-top:10px'>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", style: "background-color: transparent; color: white"%>
  </div>
  <br>
  <div class="field form-group" style='min-width: 400px; margin-top:10px'> 
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password", style: "background-color: transparent; color: white"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group" style='text-align: left; margin-top:20px'>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <br><br>
  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-secondary", style: "min-width: 50%; padding-top: 10px; padding-bottom: 10px;   background-image: linear-gradient(to right, #8800cc , #cc66ff); border: none; border-radius: 50px"%>
  </div>
<% end %>
      </div>
    </div>
  </div>
</div>

</div>
